# Virtual environments
venv*/
ml/venv39/
.venv/
env/

# Model weights
*.pt
*.pth
*.onnx
*.h5
*.ckpt
models/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Data
data/
*.zip
*.tar.gz

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Django dev database
backend/db.sqlite3

# Compiled Python
__pycache__/
*.pyc
